#div-form {
    width: 600px;
    min-height: 580px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--div-fundo);
    border-radius: 8px;
}

h3{
    text-align: center;
}

#formulario {
    background-color: var(--branca);
    padding: 25px;
    border-radius: 8px;
}

label {
    display: block;
    font-size: 1.2em;
    margin: 10px 0px;
    letter-spacing: 5px;
}

input {
    height: 30px;
    font-size: 0.8em;
    padding: 10px;
}

#div-btns {
    margin: 20px 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 150px;
    height: 30px;
    margin-left: 40px;
    color: var(--branca);
    border: none;
    cursor: pointer;
}

#btnAdd {
    background-color: var(--botao1);
}

#btn-limpar{
    background-color: var(--botao2);
}

