<div id="div-form">

    <h3>LISTA PRODUTOS</h3>

    <form id="formulario">

        <label for="descricao">Descrição Produtos</label>
        <input type="text" name="descricao" id="descricao">

        <label for="valor">Valor</label>
        <input type="number" name="valor" id="valor">

        <div id="div-btns">
            <button type="button" id="btnAdd" (click)="adicionarProduto()">
                Adicionar
            </button>

            <button type="button" id="limpar" (click)="limparTudo()">
                Limpar Tudo
            </button>
        </div>

    </form>

    <div id="div-list">

        <div class="div-item" *ngFor="let produto of produtos">
            {{ produto }}
        </div>

    </div>

</div>