<div id="div-form">
    <h3>LISTA PRODUTOS</h3>

    <form id="formmulario">
        <label for="descricao">Descrição Produtos</label>
        <input type="text" name="descricao" id="descricao">

        <label for="valor">Valor</label>
        <input type="number" name="valor" id="valor">

        <button type= "button" id="btnAdd"> Adicionar </button>
        <button type="button" id="limpar" > Limpar Tudo </button>
    </form>

    <div id="div-list">
        <div id="div-list">
            <div class="div-item">1 - Pão - 4,50</div>
            <div class="div-item">1 - Manteiga - 16,00</div>
            <div class="div-item">1 - Café - 12,80</div>
        </div>


 </div>
