#div-form {
    width: 700px;
    min-height: 600px;

    padding: 35px;
    margin: 40px auto;

    background: linear-gradient(
        135deg,
        #032ce4,
        #c2b2d3,
        #ece7ec
    );

    border-radius: 15px;
    box-sizing: border-box;
}


/* Título */

h3 {
    text-align: center;
    font-size: 28px;
    color: rgb(22, 17, 17);
    margin-bottom: 30px;
}


/* Formulário */

#formulario {
    background-color: rgb(111, 139, 165);
    padding: 30px;
    border-radius: 12px;
}


/* Textos */

label {
    display: block;
    font-size: 18px;
    margin: 15px 0 8px;
}


/* Campos */

input {
    height: 35px;
    width: 300px;

    padding: 5px 10px;

    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 5px;

    box-sizing: border-box;
}


/* Botões */

#div-btns {
    margin-top: 25px;

    display: flex;
    gap: 15px;
}


button {
    height: 40px;

    padding: 0 20px;

    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: 15px;
}


/* Botão adicionar */

#btnAdd {
    background-color: #28a745;
}


/* Botão limpar */

#limpar {
    background-color: #dc3545;
}


/* Lista */

#div-list {
    background-color: rgb(111, 139, 165);

    margin-top: 25px;

    padding: 20px;

    border-radius: 12px;
}


/* Cada produto */

.div-item {
    padding: 10px;

    border-bottom: 1px solid #ddd;

    font-size: 17px;
}