*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f6f9;
}

#div-form{
    width: 500px;
    margin: 40px auto;
    padding: 30px;

    background: white;
    border-radius: 20px;

    box-shadow: 0 15px 40px rgba(0,0,0,.15);
}

h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #fcfdff;
    letter-spacing: 2px;
}

label{
    display: block;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
}

#div-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

button{
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

#btnAdd{
    background-color: #3311f7;
}

#btnAdd:hover{
    background-color: #1976D2;
}

#btn-limpar{
    background-color: #f44336;
}

#btn-limpar:hover{
    background-color: #d32f2f;
}

#div-lista{
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.div-item{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.div-item:last-child{
    border-bottom: none;
}

#div-form {
    background: rgb(117, 117, 168) !important;
}

#div-lista{

    margin-top:30px;

    display:flex;

    flex-direction:column;

    gap:12px;
}

.div-item{

    background:rgb(117, 117, 168);

    padding:16px;

    border-radius:10px;

    border-left:6px solid #d5d6da;

    font-size:18px;

    transition:.3s;
}

.div-item:hover{

    transform:translateX(6px);

    background:rgb(214, 212, 212);

    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.div-item{

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgb(117, 117, 168);

    padding:15px 20px;

    border-radius:12px;

    margin-bottom:12px;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

    transition:.3s;
}

.div-item:hover{

    transform:translateY(-2px);

    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.btn-excluir{

    width:38px;
    height:38px;

    border:none;

    border-radius:50%;

    background:#ef4444;

    color:white;

    font-size:18px;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;
}

.btn-excluir:hover{

    background:#dc2626;

    transform:scale(1.1);
}