<div id="div-form">

    <h3>LISTA PRODUTOS</h3>

    <form>

        <label>Descrição Produto</label>

        <input
            type="text"
            [(ngModel)]="descricao_produto"
            name="descricao">

        <label>Valor</label>

        <input
            type="number"
            [(ngModel)]="valor_unitario"
            name="valor">

        <div id="div-btns">

            <button
                type="button"
                id="btnAdd"
                (click)="addItem()">

                Adicionar

            </button>

            <button
                type="button"
                id="btn-limpar"
                (click)="limparTudo()">

                Limpar Tudo

            </button>

        </div>

    </form>

    <div id="div-lista">

        <div
            class="div-item"
            *ngFor="let item of listaItens; let i = index">
    
            <span>
                {{item.idProduto}}
                -
                {{item.descricaoProduto}}
                -
                R$ {{item.valorUnitario}}
            </span>
    
            <button
                type="button"
                class="btn-excluir"
                (click)="excluirItem(i)">
                🗑️
            </button>
    
        </div>
    
    </div>
</div>