@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

:root {
    --div-fundo: #F8F9FA;
    --branca: #ffffff;
    --botao1: #198754;
    --botao2: #DC9487;
    --cor1: #928a88;
    --cor2: #c43d26;

}

body {
    margin: 20px;
}
html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #302e2e 50%,
        #0f0f0f 70%,
        #3b393b 40%
    );
}