@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{

    --div-fundo: #dFF5FA;
    --branca: #e7dcdc;
    --botao1: #198754;
    --botao2: #DC3545;
    --cor1: #D1E7DD;
    --cor2: #D0EDF0;

}

body{
    margin: 20px;
}

body{

    margin:0;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background: linear-gradient(
        135deg,
        rgb(100, 100, 104) 30%,
        #442083 60%,
        rgb(117, 117, 168)75%
    );

    background-attachment: fixed;

}