@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --div-fundo: #dFF5FA;
    --branca: #ffffff;
    --botao1: #000000;
    --botao2: #DC3545;
    --cor1: #1d201f;
    --cor2: #D0EDF0;
}

body{
    margin: 20px;
}